{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 45.49451545,
    "longitude": -73.5628554929944,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Maison",
    "time_zone": "America/Toronto",
    "external_url": null,
    "internal_url": null,
    "currency": "CAD",
    "country": "CA",
    "language": "fr",
    "radius": 100
  }
}